<div class="card">
    <img src="https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=600" alt="post-image01" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Fashion&emsp;</small>
        <small class="bg-light text-success text-center ml-3">Featured&emsp;</small>
        <small class="bg-light text-info text-center ml-3">Views-100,256&emsp;</small>

       <h4 class="mt-5"><a routerLink="/post" class="link-underline link-underline-opacity-0">Secret of the fashion</a></h4>
        
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laudantium explicabo repellendus voluptate optio rerum voluptatem sed eaque iure, qui commodi vero tempora laboriosam delectus, odio illo quia temporibus quis.</p>

        <small class="bg-light text-info text-warning ml-3">Last Updated Sep 2023</small>
    </div>
</div>
