<div class="homepage">
    <main>
        <div class="intro">
            <h1>Lorem, ipsum dolor..</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
            <button>Subscribe</button>
        </div>
        <div class="achievements">
            <div class="work">
                <i class="fas fa-atom"></i>
                <p class="work-heading">Affordable trends</p>
                <p class="work-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sint laudantium cupiditate quae? Magnam, modi.</p>
            </div>
            <div class="work">
                <i class="fas fa-skiing"></i>
                <p class="work-heading">Circularity & Sustainability</p>
                <p class="work-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aspernatur qui sed, corporis officiis explicabo.</p>
            </div>
            <div class="work">
                <i class="fas fa-ethernet"></i>
                <p class="work-heading">Reliable Logistics</p>
                <p class="work-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim exercitationem veniam reprehenderit nostrum ut fugit?</p>
            </div>
        </div>
    </main>


</div>

