<app-blog-category-navbar></app-blog-category-navbar>
<div class="detail-section">
    <div class="container mt-5">
        <div class="col mb-5 mt-5"> 
            <br>
            <img
                src="https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=600"
                class="detail-img">

            <h3>Product Name</h3>
            <div class="price">19.00$</div>
            <button class="btn btn-primary btn-sm">Add to cart</button>

            <hr>
            <h4>Description</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur omnis obcaecati tempora eius
                quibusdam, enim corporis ducimus temporibus sunt quod, commodi iure. Saepe dolore temporibus aspernatur
                reiciendis nesciunt assumenda id, quos culpa ea sint distinctio consequatur reprehenderit aliquam fugit.
                Omnis, sed dignissimos illo expedita enim veritatis nostrum voluptatum aliquam dolorem.</p>

            <a routerLink="/products" class="mt-5">Back to Product List</a>
        </div>

    </div>
</div>