<div class="container">
    <div class="row mb-5">
        <div class="col-md-9 ">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/1154861/pexels-photo-1154861.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="single-post-01" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Fashion&emsp;</small>
                    <small class="bg-light text-sucess text-center">Featured&emsp;</small>
                    <small class="bg-light text-info text-center">Views-100,256&emsp;</small>
                    <small class="bg-light text-danger text-center">Last Updated - 2023&emsp;</small>

                    <h1 class="mt-3 mb-3">Secret of the Fashion</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam rerum non, sequi delectus, ratione
                        molestias, cum inventore eligendi eius ut repellat velit in. Minima recusandae blanditiis itaque
                        hic delectus iste voluptatum, maiores deserunt incidunt facere ipsa dolorum nesciunt quaerat
                        odit, ea rem! Alias aliquam veniam voluptate dolore inventore iusto odit minus! Magnam
                        perspiciatis natus illo amet fugit fugiat quo rerum voluptatibus porro, labore facere voluptas
                        necessitatibus atque laborum illum repudiandae in ipsa unde culpa dignissimos autem temporibus
                        excepturi nesciunt. Quos quis dignissimos incidunt velit laborum, architecto nesciunt sequi eius
                        voluptatem nemo ducimus pariatur at suscipit iste maiores corrupti. Ab nulla ipsam consequatur
                        fugiat esse, mollitia aliquam maiores laboriosam minima unde vero nam incidunt, alias vitae
                        saepe, iusto doloribus. Nihil cumque odit recusandae. Perferendis eum harum officia omnis ab
                        quaerat facilis deserunt error vel voluptate earum quis voluptates, consectetur eaque ad tempore
                        fuga veritatis nostrum? Nobis rerum eum cupiditate, id eveniet neque dolorem? Eligendi suscipit
                        expedita iure nihil deleniti quam accusantium, quo repellat sint natus unde voluptas molestias
                        tenetur soluta perferendis, velit odit corrupti voluptatibus alias aliquid architecto placeat
                        dolorem vitae assumenda. Esse, asperiores veritatis expedita enim reiciendis voluptatem! Nulla
                        excepturi ullam mollitia recusandae inventore quis labore quas. Nemo, iste eaque?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi similique officiis vel reiciendis
                        velit sint aliquid voluptates quaerat at quos aperiam labore perspiciatis tempora possimus
                        debitis impedit molestias, expedita, enim ab unde dicta! Dicta, id assumenda? Ipsam eveniet non
                        fuga harum at minus, nam eum officiis sint. Optio magni itaque expedita qui adipisci
                        voluptatibus. Libero, ullam. Ipsam blanditiis praesentium animi assumenda tempore voluptate
                        labore perferendis facere. Vero tenetur quod suscipit cumque, impedit quam molestias voluptatem
                        delectus eaque. Molestias incidunt, laudantium, molestiae repellendus nihil praesentium eius
                        debitis alias eligendi itaque voluptatem? Facere illo ratione eos repellendus dolorem sit iste
                        laborum non.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi numquam assumenda animi
                        reiciendis voluptatum illo aliquid officia sequi, quam explicabo molestias adipisci saepe nisi
                        maxime sunt nobis nostrum at labore suscipit similique tempora aut eaque molestiae corrupti.
                        Voluptate quod possimus libero sequi aut, alias quis optio tenetur atque voluptas accusantium!
                    </p>
                </div>
            </div>
        <app-comment-form></app-comment-form>
        <app-comment-list></app-comment-list>
        </div>

       

        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>

    </div>
</div>