


<section class="list-section">
    <div class="container mt-5">

            <div class="row">
                <div class="col-lg-3 mt-5 mb-5">
                    <div class="product-box">

                        <a routerLink="/product">
                            <img src="https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-responsive">
                        </a>

                        <a routerLink="">
                            <h1>Product Name</h1>
                        </a>
                        
                        <div class="price">19.90$</div>
                        <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 mb-5">
                    <div class="product-box">

                        <a routerLink="">
                            <img src="https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-responsive">
                        </a>

                        <a routerLink="">
                            <h1>Product Name</h1>
                        </a>
                        
                        <div class="price">19.90$</div>
                        <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 mb-5">
                    <div class="product-box">

                        <a routerLink="">
                            <img src="https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-responsive">
                        </a>

                        <a routerLink="">
                            <h1>Product Name</h1>
                        </a>
                        
                        <div class="price">19.90$</div>
                        <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 mb-5">
                    <div class="product-box">

                        <a routerLink="">
                            <img src="https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-responsive">
                        </a>

                        <a routerLink="">
                            <h1>Product Name</h1>
                        </a>
                        
                        <div class="price">19.90$</div>
                        <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 mb-5">
                    <div class="product-box">

                        <a routerLink="">
                            <img src="https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-responsive">
                        </a>

                        <a routerLink="">
                            <h1>Product Name</h1>
                        </a>
                        
                        <div class="price">19.90$</div>
                        <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 mb-5">
                    <div class="product-box">

                        <a routerLink="">
                            <img src="https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-responsive">
                        </a>

                        <a routerLink="">
                            <h1>Product Name</h1>
                        </a>
                        
                        <div class="price">19.90$</div>
                        <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>
                
            </div>
        </div>
    
</section>
